.content{
    width: 100%;
    height: 210vh;
   background-color: rgb(245, 245, 245);
}

.main{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}


.text{
    
    h1{
        font-weight: bold;
        text-align: end;
        
    }
}

.allmain{
    margin-top: -150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main4{
    margin-top: 300px;
}

.main6{
    margin-top: 450px;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.con1{
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        
        margin-top: 25px;
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold; 
           
    }
}


.con2{
    margin-top: 40px;
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain2{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        margin-top: 25px;
         
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold;   
           
    }
}

.con4{
    margin-top: 40px;
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain4{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        margin-top: 25px;
       
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold;  
             
    }
}

.con5{
    margin-top: 40px;
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain5{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        margin-top: 25px;
       
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold;   
           
    }
}

.con6{
    margin-top: 40px;
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain6{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        margin-top: 25px;
        
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold;  
           
    }
}
.con7{
    margin-top: 40px;
    width: 350px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
.conmain7{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        margin-top: 25px;
         
    }

    img{
        margin-top: 40px;
    }

    p{
          font-weight: bold;   
             
    }
}

.nkar{
   margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}